/results/
/train_scripts/npi-iter.pdf
/train_scripts/pev-iter1.pdf
/train_scripts/pev-iter2.pdf
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/SPI.iml
/.idea/vcs.xml
/train_scripts/pev-iter3.pdf
